
.main {
    width: 100%;
    height: 100%;
    background-color: darkolivegreen;
}

.text {
    font-size: 24px;
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 24px;
}

.one {
    background-color: darkgoldenrod;
    padding: 0;
}

.two {
    background-color: darkcyan;
    padding: 0;
}
